.banner {
  z-index: 1000;
}

.banner .nav {
  @apply list-none p-0 flex flex-wrap;
}

.banner .nav a {
  @apply inline-block px-4 py-2 border-none text-white font-bold text-xl transition duration-500;

  &:hover {
    @apply text-black;
  }
}

#searchToggle {
  order: -1;

  &:focus {
    @apply outline-none;
  }

  svg {
    transition: all 0.4s;
  }
}

.search-modal {
  @apply absolute w-full h-auto px-10;

  background: #333;
  height: 0;
  bottom: 100vh;
  overflow: hidden;
  opacity: 0;

  //Delay Form showing up for just a smidge
  &.bounceOutUp {
    transition-delay: 0.5s;
  }
}

.search-modal.search-is-active {
  @apply h-screen;

  bottom: 0;
  opacity: 1;
  transition: all 0.5s;
}

#menuToggle {
  width: 30px;
  height: 30px;
  margin-left: 10px;

  span {
    background: #333;
    width: 26px;
    height: 2px;
    display: block;
    margin-bottom: 4px;
    margin-left: 2px;
    position: relative;

    &::before,
    &::after {
      content: " ";
      display: block;
      background: #333;
      width: 26px;
      height: 2px;
      position: absolute;
      transition: all 0.4s;
    }

    &::before {
      top: -7px;
    }

    &::after {
      top: 7px;
    }
  }

  &:focus {
    outline: none;
  }

  &.open span {
    background: none;

    &::before {
      top: 2px;
      transform: rotate(45deg);
      background: white;
    }

    &::after {
      top: 2px;
      transform: rotate(-45deg);
      background: white;
    }
  }
}

#mobileMenu {
  overflow: hidden;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: -90;
  transition: z-index 0.5s 2s;

  .m-menu-wrap {
    visibility: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 99999;

    .nav {
      @apply flex-grow flex justify-center flex-col items-center p-0;

      list-style: none;

      a {
        @apply text-2xl text-white mb-3;
      }
    }

    li {
      opacity: 0;
      margin-bottom: 5px;
      transform: translateX(20px);
      transition: all 0.3s;

      $time-offset-close: 0;

      @for $i from 5 through 1 {
        &:nth-child(#{$i}) {
          $time-offset-close: $time-offset-close + 0.1;

          transition-delay: #{$time-offset-close}s;
        }
      }
    }
  }

  .menu-background {
    visibility: hidden;
    width: 300%;
    height: 120vw;
    position: absolute;
    left: -130%;
    background: $brand-primary;
    transition: transform 1s 1.25s, visibility 0.5s 2s;

    &.top {
      transform: rotate(-45deg) translateY(-150%);
    }

    &.middle {
      transform: rotate(-45deg) translateY(50%) scaleY(0);
    }

    &.bottom {
      transform: rotate(-45deg) translateY(250%);
    }
  }

  .social-nav {
    opacity: 0;
    transition: opacity 0.4s;
  }

  &.open {
    visibility: visible;
    z-index: 90;
    transition: transform 1s;

    .menu-background {
      //Open Animation
      transition: transform 0.5s;
    }

    .top {
      transform: rotate(-45deg) translateY(-49%);
      visibility: visible;
    }

    .middle {
      transform: rotate(-45deg) translateY(50%) scaleY(1);
      visibility: visible;
    }

    .bottom {
      transform: rotate(-45deg) translateY(149%);
      visibility: visible;
    }

    .m-menu-wrap {
      visibility: visible;

      li {
        opacity: 1;
        transform: translateX(0);
        backface-visibility: hidden;

        $time-offset-open: 1;

        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {

            $time-offset-open: $time-offset-open + 0.1;

            transition-delay: #{$time-offset-open}s;
          }
        }
      }
    }

    .social-nav {
      opacity: 1;
      transition: opacity 0.8s 1.5s;
    }
  }
}

//Body Class
.search-open {
  overflow: hidden;

  .svg-icon {
    fill: $brand-primary;
  }

  .brand {
    color: $brand-primary;
  }

  #menuToggle span,
  #menuToggle span::before,
  #menuToggle span::after {
    background: $brand-primary;
  }
}

//Body Class
.mobile-menu-open {
  .svg-icon {
    fill: white;
  }

  .brand {
    color: white;
  }
}

@screen lg {
  .brand {
    position: relative;
    color: blueviolet;

    &::before {
      content: attr(data-text);
      overflow: hidden;
      position: absolute;
      color: white;
      top: 0;
      left: 0;
      clip-path: polygon(0 0, 60% 0%, 40% 100%, 0% 100%);
      transition: all 0.4s;
    }

    &:hover {
      &::before {
        clip-path: polygon(0 0, 280% 0%, 40% 100%, 0% 100%);
      }
    }
  }

  #searchToggle {
    order: initial;

    svg {
      fill: white;
    }

    &:hover svg {
      fill: #454545;
    }
  }

  #mobileMenu {
    display: none;
  }

  body.single {
    .banner .nav a:hover {
      @apply text-primary;
    }
  }
}
