.card {
  @apply flex-1 bg-white rounded-lg rounded-b-none overflow-hidden shadow-lg;

  a {
    @apply flex flex-wrap no-underline;
  }
}

#homeLanding {
  background: conic-gradient(from -270deg at 110% 50%, cadetblue, darkgreen);
}

#particles-js {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

#aboutImage {
  position: relative;

  img {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05), 0 -4px 16px 8px rgba(0, 0, 0, 0.05);
  }
}

#aboutContent {
  position: relative;
}

.card-wide {
  @apply w-full px-3 flex flex-col flex-grow flex-shrink transition mb-5;

  transition: all 0.4s;

  a h3,
  .category {
    color: #333;
    transition: all 0.4s;
  }

  &:hover {
    a h3,
    .category {
      color: $brand-primary;
    }
  }
}

@screen lg {
  #aboutContent::before {
    z-index: 9999;
    display: none;
    position: absolute;
    content: "";
    right: 5%;
    left: 32%;
    top: 9%;
    bottom: 47%;
    background: blueviolet;
    mix-blend-mode: color;
    transform: skew(-10deg, 6deg);
  }

  .card-wide {
    @apply p-6;

    width: 50%;
  }
}

@screen dark {
  #digitize {
    path {
      fill: #22292f;
    }
  }

  .card-wide {
    a h3,
    .category {
      @apply text-grey-lighter;
    }
  }
}
