.entry-content,
.page-content {
  line-height: 1.5;

  h2 {
    @apply text-3xl mb-2;

    a {
      position: static;

      &::before {
        content: "#";
        opacity: 50%;
        font-weight: bold;
        transition: all 0.4s ease;
        position: absolute;
        left: -25px;
      }

      &:hover {
        &::before {
          opacity: 100%;
          color: $brand-primary;
        }
      }
    }
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  ul,
  ol {
    list-style: initial;
    margin-left: 18px;
    padding-left: 1em;
    margin-bottom: 0.75rem;
  }
}

.entry-content > * {
  // margin-left: auto;
  // margin-right: auto;
  margin-bottom: 1.25em;
}

.entry-content > *:first-child {
  margin-top: 0;
}

.entry-content > *:last-child {
  margin-bottom: 0;
}

.alignnone,
.aligncenter,
.alignleft,
.alignright,
.alignwide {
  margin-top: 3rem;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-left: auto;
}

.navigation .nav-links {
  .nav-previous {
    a {
      @apply shadow-lg font-bold;

      background: $brand-primary;
      padding: 12px 25px;
      color: white;
      text-transform: uppercase;
      transition: all 0.4s;

      &:hover {
        background: darken($brand-primary, 10%);
      }
    }
  }
}

@screen lg {
  .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    @apply mx-auto;
  }

  .entry-content,
  .page-content {
    h2 {
      a {
        position: relative;
      }
    }
  }
}
