.sidebar {
  .widget {
    margin-bottom: 30px;

    h3 {
      font-weight: bold;
      border-bottom: 2px solid #333;
      padding-bottom: 2px;
    }
  }

  .cat-item {
    @apply bg-grey-lightest px-2 py-1 my-1 mr-2;

    display: inline-block;
    transition: all 0.4s ease;

    a {
      @apply text-sm border-none;

      transition: all 0.4s ease;
    }

    &:hover {
      @apply bg-primary;

      a {
        @apply text-white;
      }
    }
  }
}

@screen dark {
  .sidebar {
    .cat-item {
      @apply bg-grey-darkest;

      a {
        @apply text-grey-lightest;
      }
    }
  }
}
